<div class="container" style="padding-top:12em;">
  <div class="row">
    <div class="col-md-12">

       <iframe src="<%= @auth_url %>" style="width:100%;min-height:100%;height:700px;"></iframe>
      
    </div>
  </div>
</div>
<script>

$(document).ready(function(){
  setTimeout(function(){
  //  load();
  }, 60000);
});
function load(){
  setTimeout(function(){
    $.ajax({
             url: "/carts/move_next", // Route to the Script Controller method
            type: "post",
        dataType: "json",
            data: {reference: <%= @reference%>}, // This goes to Controller in params hash, i.e. params[:file_name]
        complete: function() {},
         success: function(data, textStatus, xhr) {
                    if(data == "1"){
                      load();
                    }
                  },
           error: function() {
                    load();
                    //alert("Unrecognized Error!\nTry Again Later");
                  }
    });
  }, 3000);
}
</script>
