<% content_for :title, "Sell Item | Traffle" %>
<div class="container-fluid my_top_div">
  <div class="row">
    <%= render 'user/user_panel'%>
    <%= render 'form', product: @product %>
  </div>
</div>
