<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Traffle, <%= @user.name %></h1>
    <h1><bold>The Message is: </bold></h1>
      <h1>You have won this ITEM</h1>
    <p> <%= @product.title %> </p>

    <p>Thanks to play!</p>
  </body>
</html>
