<div class="container" style="padding:20px;display:none;">
  <h1><%= @auth_url%></h1>
</div>

<script>
$(document).ready(function(){
  var url = "<%= @auth_url%>"
  //alert(url);
  window.location.href = url;
});
</script>
