<% content_for :title, "Dashboard | Traffle" %>
<div class="container-fluid my_top_div">
  <div class="row">
    <%= render 'user/user_panel' %>
    <div class="col-md-9">
      <div class="jumbotron">
        <h3>User Dashboard</h3>
      </div>
    </div>
  </div>

</div>
