.admin_heading{
  color: #BA4A00;
  font-weight:bold;font-family: 'Merriweather', serif;cursor: pointer;
  font-size: 19px;
}
.admin_border{
  border: 3px solid #BA4A00;
  padding: 1em;
}
.admin_key{
  color: #333; text-align: left;float: left;
  margin-top: 10px;
  font-family: 'Merriweather', serif;cursor: pointer;
}
.admin_value{
  color: #BA4A00;text-align: right;float: right;margin-left: 10px;margin-top: 10px;
  font-family: 'Merriweather', serif;cursor: pointer;
}
.admin_value_1{
  color: #BA4A00;text-align: left;float: left;margin-left: 10px;margin-top: 10px;
  font-family: 'Merriweather', serif;cursor: pointer;margin-bottom: 15px;
}
