<% content_for :title, "Select One Option Traffle" %>
<div class="col-md-9">
  <div class="jumbotron" style="padding: 12em 0px 0px 0px;background:#FFFFFF;margin-left: 15em;">
    <div class="login" style="min-width:100%;max-width:100%;padding-bottom:3em;" >
      <p class="title" style="text-align:center;">Choose One</p>
      <br>
      <div class="row">
        <div class="col-md-12 col-xs-12">
             <div class="row">
               <div class="col-md-5 col-xs-12">
                 <p><center>Edit the product by increasing the count down time so that more tickets can be sold.</center></p>
               </div>
               <div class="col-md-2 col-xs-12">
                 <h2 style="margin-top: 1em;"><center>OR</center></h2>
               </div>
               <div class="col-md-5 col-xs-12">
                 <p><center>Generate a winner</center></p>
               </div>
             </div>
        </div>
        <div class="col-md-12 col-xs-12">
           <div class="col-md-5">
             <center><%= link_to("Edit", edit_user_product_path(@product_id), class:"btn btn-md btn-info") %></center>
           </div>
           <div class="col-md-2">
           </div>
           <div class="col-md-5">
             <center><%= link_to("Winner", select_winner_user_notification_path(@notification_id, key: 3), class:"btn btn-success") %></center>

           </div>
        </div>
      </div>
    </div>
  </div>
</div>
